*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222222;
    background-size: cover;
    height: 100vh;
}

.side-panel{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #c4a283;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.side-panel a{
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-family: 'Quicksand';
    display: block;
    transition: 0.3s;
}

.side-panel a:hover{
    color: #853d33;
}

.side-panel .close-btn{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.open-btn{
    font-size: 30px;
    cursor: pointer;
    color: #c4a283;
    font-family: 'Quicksand';
    padding: 10px 15px;
    border: none;
    margin: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
}